COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "sys_CLK_c" 60.000000 MHz ;
IOBUF PORT "sdr_DQ[0]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sdr_DQ[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sdr_DQ[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sdr_DQ[3]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[0]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[3]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[4]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[5]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[6]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[7]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[8]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[9]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[10]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[11]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[12]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[13]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[14]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_D[15]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
