set_io o_cpu_data\[14\] R8
set_io o_cpu_data\[15\] T8
set_io o_cpu_data\[6\] R9
set_io o_sdram_addr\[6\] V8
set_io o_cpu_data\[11\] R10
set_io o_cpu_data\[8\] V9
set_io o_cpu_data\[12\] T10
set_io o_cpu_ack AB11
set_io o_sdram_addr\[5\] Y6
set_io o_sdram_addr\[7\] Y7
set_io o_cpu_data\[10\] Y10
set_io o_cpu_data\[0\] AB12
set_io o_cpu_data_valid AB13
set_io o_init_done AB14
set_io o_read_data_req AB15
set_io o_cpu_data\[4\] Y13
set_io o_cpu_data\[7\] Y14
set_io o_cpu_data\[2\] Y15
set_io o_sdram_addr\[11\] Y17
set_io o_sdram_addr\[9\] Y18
set_io o_sdram_addr\[10\] Y19
set_io o_sdram_addr\[8\] Y20
set_io o_cpu_data\[1\] V13
set_io o_cpu_data\[13\] T11
set_io o_cpu_data\[9\] R11
set_io o_cpu_data\[3\] T12
set_io o_cpu_data\[5\] R12
set_io o_sdram_blkaddr\[0\] R18
set_io o_sdram_cke P16
set_io o_sdram_addr\[0\] P15
set_io o_sdram_blkaddr\[1\] P18
set_io o_sdram_rasn N16
set_io i_cpu_addr\[20\] N15
set_io i_cpu_addr\[19\] M16
set_io i_cpu_addr\[21\] M15
set_io o_sdram_addr\[4\] W20
set_io o_sdram_addr\[3\] V20
set_io o_sdram_casn U20
set_io o_sdram_csn T22
set_io o_sdram_dqm\[1\] R22
set_io o_sdram_dqm\[0\] P22
set_io o_sdram_wen N22
set_io o_sdram_addr\[2\] T20
set_io o_sdram_addr\[1\] R20
set_io o_sdram_clk P20
set_io i_cpu_addr\[17\] M20
set_io o_sdrctl_busyn K18
set_io i_burststop_req L18
set_io i_cpu_addr\[11\] K20
set_io i_cpu_addr\[8\] H20
set_io i_cpu_addr\[3\] G20
set_io i_cpu_addr\[6\] F20
set_io i_cpu_addr\[0\] E20
set_io i_cpu_addr\[2\] D20
set_io i_cpu_advn C20
set_io i_cpu_addr\[7\] G22
set_io i_cpu_addr\[10\] L16
set_io i_cpu_addr\[18\] L15
set_io i_cpu_addr\[16\] K16
set_io i_cpu_addr\[13\] J18
set_io i_cpu_addr\[15\] K15
set_io i_cpu_addr\[5\] J16
set_io i_cpu_addr\[14\] H18
set_io i_cpu_addr\[12\] J15
set_io i_cpu_addr\[9\] H16
set_io i_cpu_addr\[1\] G18
set_io i_cpu_addr\[4\] F18
set_io io_sdram_dq\[1\] E7
set_io i_precharge_req G8
set_io io_sdram_dq\[10\] H9
set_io io_sdram_dq\[12\] E8
set_io io_sdram_dq\[7\] G9
set_io io_sdram_dq\[13\] H10
set_io io_sdram_dq\[15\] E9
set_io i_selfrefresh_req G10
set_io i_disable_active H11
set_io io_sdram_dq\[9\] G11
set_io io_sdram_dq\[3\] A5
set_io io_sdram_dq\[5\] A6
set_io io_sdram_dq\[6\] A7
set_io io_sdram_dq\[0\] C3
set_io io_sdram_dq\[2\] C4
set_io io_sdram_dq\[4\] C6
set_io io_sdram_dq\[11\] C9
set_io io_sdram_dq\[14\] C10
set_io io_sdram_dq\[8\] C11
set_io i_cpu_data\[14\] C14
set_io i_cpu_data\[15\] C15
set_io i_cpu_clk C16
set_io i_cpu_data\[12\] C17
set_io i_cpu_data\[11\] C18
set_io i_cpu_data\[5\] A15
set_io i_cpu_data\[6\] A16
set_io i_cpu_data\[2\] A17
set_io i_cpu_data\[3\] A18
set_io i_cpu_data\[8\] H12
set_io i_cpu_rst G12
set_io i_cpu_data\[7\] H13
set_io i_cpu_data\[1\] G13
set_io i_cpu_data\[13\] H14
set_io i_disable_precharge G14
set_io i_cpu_data\[0\] E14
set_io i_cpu_data\[9\] H15
set_io i_loadmod_req G15
set_io i_cpu_data\[4\] E15
set_io i_cpu_rwn G16
set_io i_cpu_data\[10\] E16
